.navbar-brand.navbar-brand-center {
    float: none;
    height: 4.715rem;
    padding: 0; 
    margin: 0;
    font-size: 1.286rem;
    font-weight: 500;
    line-height: 22px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.site-navbar .navbar-header .navbar-brand-logo{
	height: 50px;
}

.author-name{
	margin-left: 10px;
	margin-bottom: 2px;
	margin-right: 10px;
}

.form-material.has-warning .form-control-label, .form-control-feedback, .error {
  color: #f44336;
}
.form-control-feedback{
margin-left: 15px;
}

/* Side modal */
.modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}

.modal-content{ width: 100%; }

.modal-dialog .slidePanel-header {
    position: relative;
    padding: 40px 30px;
    padding-right: 120px;
    color: #fff;
}

.modal-dialog .slidePanel-actions {
    float: right;
    margin: 0;
    margin-left: 15px;
    text-align: right;
    list-style: none;
}
.modal-dialog .slidePanel-header .stage-name {
    margin-top: 11px;
}
.text-bold{
  font-weight: 600;
}
.custom-nav-tabs .active{
    display: block;
}

.custom-nav-tabs .hide{
    display: none;
}
/* End Side modal */

.app-contacts table>tbody>tr>td, .app-contacts table>tbody>tr>th, .app-contacts table>thead>tr>td, .app-contacts table>thead>tr>th {
    white-space: nowrap;
    vertical-align: middle;
}

.app-contacts table .avatar {
    margin-right: 10px;
    vertical-align: middle;
}
div.dataTables_wrapper div.dataTables_info {
    position: unset;
}